.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
    width: max-content;
}
.product-list {
    margin-top: 16px
}
